{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="panel">
  <div class="page-header">
    <h1>Timely!!! Fanpage</h1>
  </div>
  <p>We all know that Timely!!! Is a great album, so we made a fanpage for it!</p>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/fp2psphgAK4" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

  <p>For any SUPERFANS, <a href="/login">login here</a></p>
</div>
{% endblock %}